/* * is for everything */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 21px;
  line-height: 1.7;
  font-family: sans-serif;
}


body {
  background-color: pink;
  margin: 0;
  padding-top: 15%;
}

main {
  background-color: pink;
  width:90vw;
  /* height: 50vh; */
  /* comment out the height so it adjusted to a smaller screen */
  margin: 0 auto;
}

article.my_box, .my_box {
width: 100%;
height: 100%;
  color: pink;
  margin: 0 auto;
  text-align:center;
}

h1 {
 background-color: grey;
 width:60vw;
 height: 30vh;
 margin: auto;
 border: 10px solid pink;
 border-radius: 80%;
 padding-top: 10%;
 /* text-align: 20%; */
 /* padding-top could uses to try and center by bringing text down*/
 /* text-align: center; */
}

section {
  margin: auto;
  text-align: center;
  font-family: 'turret road', sans-serif;
  color: grey;
}

/* vw is on whatever percentage of the screen it is/ vw (v weight) vh(for v height)*/
/* margin auto centers it, and margin 0 removes border */
