html, body {
  background-color: #F8E7F5 ;
    /* padding: 10x; */
}


/* element.style {
    /* margin-left: -51px;
    } can use this, to move left is negative and right positive from the center */
/*
  { text-indent: -50px;
    } or this other way to move it around, again negative is left and positive is right
*/

/* add this and test on chrome/inspect before to check how it works */


h1 {
  color: #410E38  ;
  font-family: 'Inconsolata', sans-serif;
  text-align: center;
  font-size: 30px;
}

p {
  color: #A81F91   ;
  font-family: 'turret road', sans-serif;
 }

h3 {
  color: #410E38   ;
  font-family: 'Inconsolata', sans-serif;
  font-size: 25px;
}

h4 {
  color: #410E38 ;
  font-family: 'Inconsolata', sans-serif;

}

a {
  color: #410E38;
  text-decoration: none;
  font-size: 20px;
}

a:visited {
  color: #410E38  ;
}

li {
  font-family: 'turret road', sans-serif;
}

address {
  font-family: 'turret road', sans-serif;
}

img {
  margin-left: 300px;
}

table {
  font-family: 'turret road', sans-serif;
  text-align: center;
  margin: 0 auto;
}
/* to comment hidden in css*/
