html, body {
  background-color: #F8E7F5 ;
    /* padding: 10x; */
}

section#introduction, #introduction {
  width: 600px;
  /* margin: 10px; this sets to all four sides */
  margin: 0 auto;
  /* set the margin to be 0 on top and bottom , and auto on left and right/ 0 auto centers in the middle */
  /* border: 0px solid: pink; */
  /* max-width: 90;
  min-width: 80; for later */
  color: #A81F91   ;
  font-family: 'Roboto Slab', serif;
  font-style: centered;
}

h1 {
  color: #410E38  ;
  font-family: 'Inconsolata', monospace;
  text-align:center;
  font-size: 40px;
}

/* element.style {
    /* margin-left: -51px;
    } can use this, to move left is negative and right positive from the center */
/*
  { text-indent: -50px;
    } or this other way to move it around, again negative is left and positive is right
*/

/* add this and test on chrome/inspect before to check how it works */

section#centertable, #centertable {
  width: 600px;
  margin: 0 auto;
  font-size: 20;
  font-family: 'Roboto Slab', serif;
}

section#centerphoto, #centerphoto {
  width: 600px;
  margin: 0 auto ;
}

section#education, #education {
font-family: 'Roboto Slab', serif;
  color: #A81F91   ;
}


section#internships, #insternships {
  font-family: 'Roboto Slab', serif;
  color: #A81F91   ;
}

section#skills, #skills {
  font-family: 'Roboto Slab', serif;
  color: #A81F91   ;
}

section#address, #address {
  font-family: 'Roboto Slab', serif;
  color: #A81F91   ;
}

h3 {
  color: #410E38   ;
  font-family: 'Inconsolata', monospace;
}

section#image, #image {
text-align: center;
  width: 300;
  height: 400;
}

section#centertable, #centertable {
  font-family: 'Roboto Slab', serif;
  color: #A81F91   ;
}
/* to comment hidden in css*/


p {
  color: #A81F91   ;
  font-family: 'Roboto Slab', serif;
 }


h4 {
  color: #410E38 ;
  font-family: 'Inconsolata', monospace;
}



a {
  color: #410E38;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
}

a:visited {
  color: #410E38  ;
  font-family: 'Roboto Slab', serif;
}

footer {
  color: #A81F91   ;
  font-family: 'Roboto Slab', serif;
 }
