html,
body {
  background-color: #f8e7f5;
  /* padding: 10x; */
}
/* to comment hidden in css*/

:hover {
  css declarations;
}

section#introduction,
#introduction {
  width: 600px;
  /* margin: 10px; this sets to all four sides */
  margin: 0 auto;
  /* set the margin to be 0 on top and bottom , and auto on left and right/ 0 auto centers in the middle */
  /* border: 0px solid: pink; */
  /* max-width: 90;
  min-width: 80; for later */
  color: #a81f91;
  font-family: "Roboto Slab", serif;
  font-style: centered;
}

h1 {
  color: #410e38;
  font-family: "Inconsolata", monospace;
  text-align: center;
  font-size: 40px;
}

h1:hover {
  color:#A51111;
}

h3:hover {
  color:#A51111;
}

h4:hover {
  color:#A51111;
}


img {
  width: 200px;
  height: 250px;
  /* border: 10px solid pink; */
  border-radius: 80%;
  /* padding-top: 10%; */
  border-bottom: 10px;
}

section#image,
#image {
  text-align: center;
}
/* element.style {
    /* margin-left: -51px;
    } can use this, to move left is negative and right positive from the center */
/*
  { text-indent: -50px;
    } or this other way to move it around, again negative is left and positive is right
*/

/* add this and test on chrome/inspect before to check how it works */



table:hover {
  color: #4A0B82;
}

section#education,
#education {
  font-family: "Roboto Slab", serif;
  color: #a81f91;

}

section#internships,
#insternships {
  font-family: "Roboto Slab", serif;
  color: #a81f91;
}

section#skills,
#skills {
  font-family: "Roboto Slab", serif;
  color: #a81f91;
}

section#address,
#address {
  font-family: "Roboto Slab", serif;
  color: #a81f91;
}

.my {
  border: 1px solid: #00000;
  font-family: monospace;
  text-align: center;
  margin: 0 auto;
}

.table {
  width: 600px;
  font-size: 15px;
  font-family: "Roboto Slab", serif;
  color: #a81f91;
}

.websites {
  color: #a81f91;
  font-family: "Roboto Slab", serif;
}

h3 {
  color: #410e38;
  font-family: "Inconsolata", monospace;
}


p {
  color: #a81f91;
  font-family: "Roboto Slab", serif;
}

h4 {
  color: #410e38;
  font-family: "Inconsolata", monospace;
}

a {
  color: #410e38;
  text-decoration: none;
  font-family: "Roboto Slab", serif;
}

a:visited {
  color: #410e38;
  font-family: "Roboto Slab", serif;
}
