html,
body {
  background-color: #f8e7f5;
  /* padding: 10x; */
}
/* to comment hidden in css*/

/* :hover {
  css declarations;
} */

section#introduction,
#introduction {
  width: 600px;
  /* margin: 10px; this sets to all four sides */
  margin: 0 auto;
  /* set the margin to be 0 on top and bottom , and auto on left and right/ 0 auto centers in the middle */
  /* border: 0px solid: pink; */
  /* max-width: 90;
  min-width: 80; for later */
  color: #a81f91;
  font-family: "Roboto Slab", serif;
}

h1 {
  color: #410e38;
  font-family: "Inconsolata", monospace;
  text-align: center;
  font-size: 40px;
}

h1:hover {
  color:#A51111;
}

h3:hover {
  color:#A51111;
}

h4:hover {
  color:#A51111;
}


img {
  width: 200px;
  height: 250px;
  /* border: 10px solid pink; */
  border-radius: 80%;
  /* padding-top: 10%; */
  border-bottom: 10px;
}

section#image,
#image {
  text-align: center;
}
/* element.style {
    /* margin-left: -51px;
    } can use this, to move left is negative and right positive from the center */
/*
  { text-indent: -50px;
    } or this other way to move it around, again negative is left and positive is right
*/

/* add this and test on chrome/inspect before to check how it works */





section#education,
#education {
  font-family: "Roboto Slab", serif;
  color: #a81f91;

}

section#internships,
#insternships {
  font-family: "Roboto Slab", serif;
  color: #a81f91;
}

section#work_experinces,
#work_experinces {
  font-family: "Roboto Slab", serif;
  color: #a81f91;
}



.info {
  border: 1px;
  font-family: monospace;
  text-align: center;
  margin: 0 auto;
  font-family: "Big Shoulders Display", serif;
  color: #a81f91;
}

.info:hover {
  color: #E71BF6;
}

.skills {
font-size: 18px;
}

.address {
  font-size: 15px;
  text-align: center;
}

.my {
  border: 1px;
  text-align: center;
  margin: 0 auto;
  font-family: "Dancing Script", monospace;
  color: #B21DB2;
}

.my:hover {
  color: #952FEF;
}

.table {
  width: 600px;
  font-size: 20px;
}

.websites {
 font-size: 20px;
}

a {
    text-decoration: none;
    color: #B21DB2;
}

h3 {
  color: #410e38;
  font-family: "Inconsolata", monospace;
  text-align: center;
  font-size: 20px;
}


p {
  color: #a81f91;
  font-family: "Roboto Slab", serif;
}

h4 {
  color: #410e38;
  font-family: "Inconsolata", monospace;
}

/* a {
  color: #410e38;
  font-family: "Roboto Slab", serif;
} */

a:visited {
  color: #410e38;
  font-family: "Roboto Slab", serif;
}
