html {
  font-size: 20px;
  line-height: 2;
  /* font-family: sans-serif; */
  background-color: #a5bdc7;
}

* {
  margin: 10px;
  padding: 0;
}

/* main {
  width: 100%;
  margin: 0 auto;
} */

.grid_introduction {
  display: grid;
  grid-template-columns: 1fr;
}

#intro {
  font-size: 18px;
}

.grid_ski {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid_experience {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid_higher {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid_lower {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box {
  margin-top: 0px;
  margin-bottom: 0px;
}

.first {
  background-color: #78aabe;
  text-align: center;
  margin-top: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* border-radius: 10%; */
}

#photo1 {
  width: 175px;
  height: 225px;
  border-radius: 90%;
  margin-bottom: 0px;
  /* margin-top: 5px; */
  margin: auto;
}

#photo2 {
  width: 100%;
  margin-left: 2px;
}

#photoibmec {
  width: 100%;
  margin-left: 2px;
}

#photobritish {
  width: 100%;
  margin-left: 2px;
}

#photodufry {
  width: 100%;
  margin-left: 2px;
}

#photoliaisons {
  width: 100%;
  margin-left: 2px;
}

#photopacifico {
  width: 100%;
  margin-left: 2px;
}

.pages {
  /* background-color: grey; */
  text-align: center;
}

#links {
  text-align: center;
  margin-top: 2px;
}

#mylinks {
  font-size: 20px;
}

a {
  font-size: 18px;
  /* text-decoration: none; */
  color: black;
  font-family: "EB Garamond", serif;
}

address {
  font-size: 16px;
  font-family: "EB Garamond", serif;
}

#email {
  font-size: 16px;
  font-family: "EB Garamond", serif;
}

a:visited {
  color: black;
}

#higheredu {
  text-align: center;
}

#loweredu {
  text-align: center;
}

#intern {
  text-align: center;
}

#Pacifico {
  text-align: center;
}

#dufry {
  text-align: center;
}

#liaisons {
  text-align: center;
}

.grid_pacifico {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid_dufry {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid_liaisons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#work {
  text-align: center;
}

#skills {
  text-align: center;
}

.skills {
  text-align: center;
}

h1 {
  font-family: "Libre Baskerville", serif;
}

h2 {
  font-family: "Libre Baskerville", serif;
}

h3 {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "EB Garamond", serif;
}

.main-info {
  width: 80%;
  margin: 0 auto;
}
