@media only screen and (max-width: 770px){

  html {
    font-size: 20px;
    line-height:2;
    /* font-family: sans-serif; */
    background-color: #C4C8CD  ;

  }

  * {
    margin: 10px;
    padding: 0;
  }

  .grid_introduction {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid_ski {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid_experience {
    display: grid;
    grid-template-columns: 1fr ;
  }

  .grid_higher {
    display: grid;
    grid-template-columns: 1fr ;
  }

  .grid_lower {
    display: grid;
    grid-template-columns: 1fr ;
  }

  .box {
    margin-top: 0px;
    margin-bottom: 0px;
  }


  .first {
    background-color: #78AABE  ;
    text-align: center;
    margin-top: 60px;
    /* border-radius: 10%; */
  }

  #photo1 {
    width: 155px;
    height: 175px;
    border-radius: 90%;
    margin-bottom: 0px;
    /* margin-top: 5px; */
    margin: auto;
  }

  #photo2 {
    width: 175px;
    height: 155px;
    margin-left: 2px;
  }

  #photoibmec {
    width: 175px;
    height: 155px;
    margin-left: 2px;
  }

  #photobritish {
    width: 175px;
    height: 155px;
    margin-left: 2px;
  }

  #photopacifico {
    width: 160px;
    height: 160px;
    margin-left: 2px;
  }

  #photodufry {
    width: 160px;
    height: 160px;
    margin-left: 2px;
  }

  #photoliaisons {
    width: 160px;
    height: 160px;
    margin-left: 2px;
  }



  .pages {
    /* background-color: grey; */
    text-align: center;
  }

  #links {
    text-align: center;
    margin-top: 2px;
  }

  #mylinks {
    font-size: 20px;
  }

  a {
    font-size: 18px;
    /* text-decoration: none; */
    color: black;
    font-family: 'EB Garamond', serif;
  }

  address {
    font-size: 16px;
    font-family: 'EB Garamond', serif;
  }

  #email {
    font-size: 16px;
    font-family: 'EB Garamond', serif;
  }

  a:visited {
    color: black;
  }

  #higheredu {
    text-align: center;
   }

  #loweredu {
    text-align: center;
  }

  #intern {
    text-align: center;
  }

  #Pacifico {
    text-align: center;
  }

  #dufry {
    text-align: center;
  }

  #liaisons {
    text-align: center;
  }

  .grid_pacifico {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid_dufry {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid_liaisons {
    display: grid;
    grid-template-columns: 1fr;
  }


  #work {
    text-align: center;
  }

  #skills {
    text-align: center;
  }

  .skills {
    text-align: center;
  }

  h1 {
    font-family: 'Libre Baskerville', serif;
  }

  h2 {
    font-family: 'Libre Baskerville', serif;
  }

  h3{
    font-family: 'Playfair Display', serif;
  }

  p {
    font-family: 'EB Garamond', serif;
  }

}
